<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Anagram Checker</title>
    </head>
    <body>
        <div class="container">
            <h1>Results</h1>
            <h2>Your keyword: {{ keyword }}</h2>
            <h3>{{ result }}</h3>
            <a href="/">Try again</a>
        </div>
    </body>
</html>
